.container {
    background-color: aliceblue;
    display: grid;
    /* column-gap: 50px; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-family: Roboto;
}

.item {
    padding: 5px 10px;
    line-height: 1.3;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.subtitle {
    font-size: 12px;
}

.value {
    font-weight: bold;
    font-size: 35px;
    line-height: 1;
    padding-top: 3px;
}

.footerRow {
    font-size: 10px;
    opacity: 0.6;
}

.source {
    display: inline;
}

.date {
    float: right;
    display: inline;
}