#map_options {
  background-color: #f9f9f9b0;
}

.mapOptions {
    font-family: Roboto;
    max-width: 400px
}

.mapOptionsPanel {
    background-color:rgb(241, 241, 241);
    padding: 6px 9px;
    margin-left: -12px;
    margin-right: -12px;
}

.mapOptionsPanel h1 {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: rgb(59, 59, 59);
}

.MapLayers_row div {
    display: inline-block;
}

.mapOptionsPanelBody {
    margin-top: 3px;
    font-size: 12px;
    padding: 3px;
}

.optionRow {
    margin-top: 19px;
    margin-bottom: 25px;
}

.optionLabel {
    display: inline-block;
}

.optionValue {
    font-weight: bold;
    float: right;
}

  .MuiSlider-thumb:not(.MuiSlider-active) {
    transition: none;
  }
  
  .MuiSlider-track {
    transition: none;
  }

  .mapSymbolSelectIcon {
    width: 14px;
    padding-right: 3px;
  }

  .optionPaddingTop {
    padding-top: 10px;
  }

  .draw {
    opacity: 0.2;
  }