
.ol-map {
  min-width: 600px;
  min-height: 50px;
  width: "100%";
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: 0.5em;
  right: 0.5em;
}

.ol-scale {
  visibility: visible;
}

.ol-scale-line {
  visibility: visible;
}

.ol-scale-bar {
  visibility: visible;
}

.ol-map {
  background-color: #fafafa;
  border: 1px solid rgb(211, 211, 211);
}

.mapContainer {
  -webkit-box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.15);
}

.logos {
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.headerLogo {
  display: inline-block;
  height: 30px;
  padding-right: 5px;
  padding-top: 3px;
  vertical-align: middle;
  
}

.headerLogo img {
  padding-right: 4px;
}

.logoDrc {
  height: 33px;
}

.logoDfs {
  height: 34px;
}

.logoImmap {
  height: 45px;
  margin-top: -6px;
}

.titleContainer {
  float: right;
}

.mapTitle {
  position: absolute;
  z-index: 3;
  padding: 3px 8px;
  margin-top: 2px;
  line-height: 1.21;
  display: inline-block;

}

.mainTitle {
  font-size: 22px;
  font-weight: bold;
}

.scalePosbottomRight {
  top: unset !important;
  left: unset !important;
  right: 8px;
  bottom: 8px !important;
  opacity: 0.8;
}

.POS-bottomRight {
  top: unset !important;
  left: unset !important;
  right: 8px;
  bottom: 8px !important;
  opacity: 0.8;
}

.scalePostopRight, .POS-topRight {
  bottom: unset !important;
  left: unset !important;
  top: 8px;
  right: 8px;
  opacity: 0.8;
}

.scalePosbottomLeft, .POS-bottomLeft {
  left: 8px !important;
  top: unset !important;
  right: unset !important;
  bottom: 8px;
  opacity: 0.8;
}

.mapFooter {
  font-size: 8px;
  padding-left: 10px;
  opacity: 0.7;
}

.mapFooter .sources {
  font-weight: 300;
  display: inline;
  padding-left: 2px;
}

