
.ol-map {
  min-width: 600px;
  min-height: 50px;
  width: "100%";
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: 0.5em;
  right: 0.5em;
}

.ol-scale {
  visibility: visible;
}

.ol-scale-line {
  visibility: visible;
}

.ol-scale-bar {
  visibility: visible;
}

.ol-map {
  background-color: #fafafa;
  border: 1px solid rgb(211, 211, 211);
}

#map_layers {
  font-size: 12px;
  margin-bottom: 10px;
}

#map_layers h3 {
  background-color: #fafafa;
  padding: 5px;
  font-size: 17px;
  margin-bottom: 10px;
}

.mapContainer {
  -webkit-box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.15);
}

.mapTitle {
  position: absolute;
  z-index: 3;
  padding: 3px 8px;
  line-height: 1.4;
}

.mainTitle {
  font-size: 22px;
  font-weight: bold;
}

.scalePosbottomRight {
  top: unset !important;
  left: unset !important;
  right: 8px;
  bottom: 8px !important;
}

.POS-bottomRight {
  top: unset !important;
  left: unset !important;
  right: 8px;
  bottom: 8px !important;
}

.scalePostopRight, .POS-topRight {
  bottom: unset !important;
  left: unset !important;
  top: 8px;
  right: 8px;
}

.scalePosbottomLeft, .POS-bottomLeft {
  left: 8px !important;
  top: unset !important;
  right: unset !important;
  bottom: 8px;
}

